<div class="container position-relative bg-light shadow-sm">
    <div id="accountsData" class="d-flex p-2 row">
        {{>accountsData }}
    </div>  
    <div class="container p-2">
        <button id="addAccount" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAccountModal">
			<i class="bi bi-plus"></i>Add account
		</button>
        <button id="refreshAccounts" type="button" class="btn btn-success" >
			<i class="bi bi-arrow-clockwise"></i>Refresh
		</button>
    </div> 
</div>
