<div class="row">
    <div class="col">FREE CASE BATTLE</div>
    <div class="col">RUN</div>
    <div class="col">Status:</div>
</div>
<div class="row">
    <div class="col">LOTTERY</div>
    <div class="col">RUN</div>
    <div class="col">Status:</div>
</div>